{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
	<meta name="Yunfei Qu" content="CAE FEA Lead Manager Job Engineer New Opportunity EV Automotive Hire Opening ">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109064262-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'UA-109064262-1');
	</script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Portfolio webpage">
	<meta name="author" content="Vladislav Moroshan">

	<link type="text/css" href="https://fonts.googleapis.com/css?family=Lobster|Montserrat|Raleway" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
	<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->


	<link rel="shortcut icon" href="{% static 'mainpage/images/logo.ico' %}" />
	<title>Yunfei Qu Engineer CAE FEA </title>

	<!-- CSS -->
	<link href="{% static 'mainpage/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'mainpage/css/font-awesome.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'mainpage/css/animate.css" rel="stylesheet' %}">

	<!-- Custom styles CSS -->
	<link href="{% static 'mainpage/css/style.css' %}" rel="stylesheet" media="screen">

	<script src="{% static 'mainpage/js/modernizr.custom.js' %}"></script>

</head>

<body>

	<!-- Preloader -->

	<div id="preloader">
		<div id="status"></div>
	</div>

	<!-- Home start -->

	<section id="home" class="pfblock-image screen-height">
		<div class="home-overlay"></div>
		<div class="intro">
			<div class="start">Hello, my name is Yunfei (Jeff) Qu and I am an</div>
			<h1>Engineer, </h1>
			<h2 id="subtitlefirstpage">Passions on making things work and better</h2>
			<!-- <h1>Passion in design</h1>
			<h2>multi-disciplinary & coupled CAE design, simulations and validation </h2> -->
			<div class="start">Enjoy product design, multi-disciplinary & coupled CAE/FEA simulations, test correlations, Python programming & automation;
			</div>
		</div>


		<a href="#services">
			<div class="scroll-down">
				<span>
					<i class="fa fa-angle-down fa-2x"></i>
				</span>
			</div>
		</a>
	</section>

	<!-- Home end -->

	<!-- Navigation start -->

	<header class="header">

		<nav class="navbar navbar-custom" role="navigation">

			<div class="container">

				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#custom-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="index.html">Yunfei Qu</a>
				</div>

				<div class="collapse navbar-collapse" id="custom-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#home">Qu's Home</a></li>
						<li><a href="#services">About Me</a></li>
						<li><a href="#portfolio">Life & Hobbies</a></li>
						<li><a href="#contact">Contact Me</a></li>
					</ul>
				</div>

			</div><!-- .container -->

		</nav>

	</header>

	<!-- Navigation end -->


	<!-- Services start -->

	<section id="services" class="pfblock pfblock-gray">
		<div class="container">
			<div class="row">

				<div class="col-sm-8">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">ABOUT ME</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">
							<p>I've been working in automotive industry for more than ten years with the experience focused on managing and leading CAE/FEA simulation projects throughout product phases of design, development, validation and production.</p>
							<p>Things that I enjoyed most at work are tackling with the failures problems and issues ranging from areas of NVH, durability stress to heat transfer coupled thermo-mechanical or multi-disciplinary fields, figuring out possible root-causes and then building proper, quite often, simplified models to capture causes and understand fundamentals to solve the issue;</p>
							<p>Aside regular jobs, I'm also passionate in building and automating things for home projects. I designed and installed full automated eight-zone sprinkler system for my house all by myself, worked on 3D design and 3D print from fun things like toys to real life useful applications such as acrylic shields in kids classroom etc. The favorite softwares I used are <a id="aboutme" href="https://www.solidworks.com/">solidworks</a> and <a id="aboutme" href="https://www.autodesk.com/products/fusion-360/overview">Autodesk/Fusions.</a></p>
							<p>My favorite sports are cyling and shooting basketball, and I even built a new basketball hoop at home in 2020, which become the most convinient & fun activity to do during the pandemic. I love growing vegetables at my backyard garden, watching them growing help me alleviate strain and pressure from work. And it is always important nowadays to know our food sources before puting into dinner table for various nutritions and many other organic facts.</p>

							<a id="aboutme" href="https://drive.google.com/file/d/1wINNPB81qYNFr_YVYTBuSNvV7MywBm9i/view?usp=sharing" target="_blank" id="resume-effect"><i class="fa fa-3x fa-file-text-o" aria-hidden="true"></i> Click to view or download my resume.</a>
						</div>
					</div>
				</div>

				<div class="col-sm-4">
					<div class="pfblock-header wow fadeInUp">
						<img id="myphoto" src="{% static 'mainpage/images/me.jpg' %}" alt="Vladislav Moroshan" style="border-radius: 100%;filter:grayscale(30%);">
					</div>
				</div>
			</div><!-- .container -->

			<!-- <div class="skills col-xs-12">
				<h2 class="pfblock-title">MY SKILLS</h2>
				<div class="pfblock-line"></div>

				<div class="row">
					<div class="devicon-html5-plain  col-xs-15"><span>HTML</span></div>
					<div class="devicon-css3-plain   col-xs-15"><span>CSS</span></div>
					<div class="devicon-bootstrap-plain col-xs-15"><span>BOOTSTRAP</span></div>
					<div class="devicon-jquery-plain col-xs-15"><span>JQUERY</span></div>
					<div class="devicon-javascript-plain  col-xs-15"><span>JAVASCRIPT</span></div>
				</div>
				<div class="row">
					<div class="devicon-d3js-plain  col-xs-15"><span>D3</span></div>
					<div class="devicon-react-original  col-xs-15"><span>REACT</span></div>
					<div class="devicon-nodejs-plain  col-xs-15"><span>NODE</span></div>
					<div class="devicon-python-plain  col-xs-15"><span>PYTHON</span></div>
					<div class="devicon-django-plain  col-xs-15"><span>DJANGO</span></div>
				</div>

			</div>
		</div> -->
	</section>

	<!-- Services end -->


	<!-- Portfolio start -->

	<section id="portfolio" class="pfblock">
		<div class="container">
			<div class="row">

				<div class="col-sm-6 col-sm-offset-3">

					<div class="pfblock-header wow fadeInUp">
						<h2 class="pfblock-title">Life & Hobbies</h2>
						<div class="pfblock-line"></div>
						<div class="pfblock-subtitle">

						</div>
					</div>

				</div>

			</div><!-- .row -->

			<div class="row">
				{% if list_projects %}
				{% for project in list_projects|slice:":10" %}
				<div class="card col-xs-12 col-sm-5 col-md-5">
					<div class="grid wow zoomIn">

						<figure class="effect-bubba">
								{% with 'mainpage/images/'|add:project.img_name as image_static %}
								<img class="card-img-top" src="{% static image_static %}">
							{% endwith %}
						</figure>

						<div class="card-block">
							<h2 class="card-title">{{ project.title }}</h2>
							<p class="card-text">{{ project.description }}</p>
							<div class="tools">
								<span>Modified on: {{ project.pub_date }}</span>
							</div>
						</div>

					</div>
				</div>
				{% endfor %}
				{% else %}
				no project found in database.
				{% endif %}
			</div>
		</div><!-- .contaier -->

	</section>

	<!-- Portfolio end -->


	<!-- CallToAction start -->

	<section class="calltoaction">
		<div class="container-fluid">

			<div class="row">

				<div class="col-md-12 col-lg-12">
					<h2 class="wow slideInRight" data-wow-delay=".1s">Open to New Opportunity</h2>
					<div class="calltoaction-decription wow slideInRight" data-wow-delay=".2s">
						Currently looking for new opportunities in product design, development, CAE/FEA and project management areas within automotive industry but also open to many other industries as well.
					</div>
				</div>

				<div class="col-md-12 col-lg-12 calltoaction-btn wow slideInRight" data-wow-delay=".3s">
					<a href="#contact" class="btn btn-lg">Let's get in touch!</a>
				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</section>

	<!-- CallToAction end -->


	<!-- Contact start -->

	<section id="contact" class="pfblock">
		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">

				<div class="pfblock-header">
					<h2 class="pfblock-title">Contact Me</h2>
					<div class="pfblock-line"></div>
					<div class="pfblock-subtitle">
						Currently looking for new opportunity, and I can be reached by means listed in <a href="#services">resume</a> and belows:
					</div>
				</div>

			</div>

		</div><!-- .row -->

		<div class="row">

			<div class="col-sm-6 col-sm-offset-3">
				{% include 'mainpage/contact_form.html' %}
			</div><!-- .row -->

		</div><!-- .container -->
	</section>

	<!-- Contact end -->

	<!-- Footer start -->

	<footer id="footer">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">

					<ul class="social-links">
						<li><a href="https://www.linkedin.com/in/quyunfei/" class="wow fadeInUp" data-wow-delay=".1s" target="_blank"><i class="fa fa-linkedin"></i></a></li>
						<!-- <li><a href="https://github.com/VladislavMoroshan" class="wow fadeInUp" data-wow-delay=".2s" target="_blank"><i class="fa fa-github"></i></a></li> -->
						<li><a href="mailto:quyunfei@protonmail.com" class="wow fadeInUp" data-wow-delay=".4s"><i class="fa fa-envelope"></i></a></li>
						<li><a href="https://meet.google.com/avj-xpeb-xib" class="wow fadeInUp" data-wow-delay=".5s" target="_blank"><i class="fa fa-google"></i></a></li>
					</ul>

					<p class="copyright"> Email me or visit my LinkedIn pages.</p>

					<!-- <p class="heart">Made with <span class="fa fa-heart bi-2x animated pulse"></span> Yunfei Qu 2021 ©</p> -->
					<p class="heart">Website Made by Yunfei Qu 2021©</p>

				</div>

			</div><!-- .row -->
		</div><!-- .container -->
	</footer>

	<!-- Footer end -->


	<!-- Javascript files -->

	<script src="{% static 'mainpage/js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'mainpage/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'mainpage/js/jquery.parallax-1.1.3.js' %}"></script>
	<script src="{% static 'mainpage/js/imagesloaded.pkgd.js' %}"></script>
	<script src="{% static 'mainpage/js/jquery.sticky.js' %}"></script>
	<script src="{% static 'mainpage/js/smoothscroll.js' %}"></script>
	<script src="{% static 'mainpage/js/wow.min.js' %}"></script>
	<script src="{% static 'mainpage/js/waypoints.min.js' %}"></script>
	<script src="{% static 'mainpage/js/jquery.cbpQTRotator.js' %}"></script>
	<script src="{% static 'mainpage/js/custom.js' %}"></script>

</body>

</html>
